{% extends "ISMainBundle::layout.html.twig" %}
{% block pagestyle %}
    <style type="text/css">/* Chart.js */
        .btn-app{
            background: #b21f2d;
            border: 1px solid;
            border-radius: 5px;
            border-color: #dc1f43;
            box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.137);
            opacity: 80%;
            width: 80%;
            height: 100%;
            font-size: 30px;
            font-weight: bold;
            color: #fff !important;
        }
        .btn-app:hover {

            color: #000 !important;
        }
        .btn-app>.fas{
            font-size: 80px;
            color: #f1c40f;
        }
        .content-wrapper{
            background-image: url("dist/img/2.jpg");

        }
    </style>

{% endblock %}

{% block breadcrumb %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container">
            <div class="row mb-2" style="color: #fff !important;">
                <div class="col-sm-6">
                    <h1 class="m-0 text-green">Gestion des  produits</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">

                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-12">
            <!-- Custom Tabs -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Liste des categories</h3>
                    <div class="card-tools">
                        <a href="{{ path('category_new') }}"  class="btn btn-block bg-gradient-primary btn-lg">Nouveau</a>
                    </div>

                </div><!-- /.card-header -->
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nom</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for v in categories %}
                            <tr>
                                <td>{{ v.id }}</td>
                                <td>{{ v.nom }}</td>

                                <td>
                                    <a href="{{ path('category_edit', { 'id': v.id }) }}" class="btn btn-success"><i class="fas fa-pencil-alt"></i></a>
                                    <a onclick="return confirm('Voulez-vous vraiment supprimer ce produit')" href="{{ path('category_delete', { 'id': v.id }) }}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Nom</th>
                            <th>Actions</th>
                        </tr>
                        </tfoot>
                    </table>


                    <!-- /.tab-content -->
                </div><!-- /.card-body -->
            </div>
            <!-- ./card -->
        </div>
    </div>

{% endblock %}