{% extends "ISMainBundle::layout.html.twig" %}
{% block pagestyle %}
    <style type="text/css">/* Chart.js */
        .btn-app{
            background: #b21f2d;
            border: 1px solid;
            border-radius: 5px;
            border-color: #dc1f43;
            box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.137);
            opacity: 80%;
            width: 80%;
            height: 100%;
            font-size: 30px;
            font-weight: bold;
            color: #fff !important;
        }
        .btn-app:hover {

            color: #000 !important;
        }
        .btn-app>.fas{
            font-size: 80px;
            color: #f1c40f;
        }
        .content-wrapper{
            background-image: url("{{ asset('dist/img/2.jpg') }}");

        }
    </style>

{% endblock %}

{% block breadcrumb %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container">
            <div class="row mb-2" style="color: #fff !important;">
                <div class="col-sm-6">
                    <h1 class="m-0 text-green"> Gestion de stocks</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">

                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <a href="{{ path('matiere_index') }}" class="btn btn-app">
                    <i style="" class="fas fa-shopping-bag"></i> Gestion des matieres
                </a>
            </div>
            <div class="col-lg-4">
                <a href="{{ path('achatmarchandise_index') }} " class="btn btn-app">
                    <i style="" class="fas fa-user"></i> Achat de marchandise
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <a href="{{ path('portions_index') }} " class="btn  btn-app">
                    <i style="" class="fas fa-shopping-basket"></i> Entree de stock
                </a>
            </div>


        </div><br>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <a href="{{ path('depense_index') }} " class="btn  btn-app">
                    <i style="" class="fas fa-shopping-basket"></i> Autres achats
                </a>
            </div>
        </div>

        <!-- /.row -->
    </div><!-- /.container-fluid -->
{% endblock %}