{% extends 'ISMainBundle::layout.html.twig' %}

{% block title %} Gestion des clients{% endblock %}


{% block breadcrumb %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container">
            <div class="row mb-2" style="color: #fff !important;">
                <div class="col-sm-6">
                    <h1 class="m-0 text-green">Gestion des  clients</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">

                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock %}



{% block content %}
    <div class="row">

        <div class="col-12">
            {{ form_start(form, {'attr': { 'class' : 'form' }}) }}

            {# Les erreurs générales du formulaire. #}
            {{ form_errors(form) }}
            <!-- general form elements -->
            <div class="card card-primary">

                <!-- /.card-header -->

                    <div class="card-body">

                        <div class="form-group">
                            <label for="">Nom du client</label>
                            {{ form_widget(form.nom, {'attr': {'class': 'form-control' }}) }}
                        </div>
                        <div class="form-group">
                            <label for="">Email</label>
                            {{ form_widget(form.email, {'attr': {'class': 'form-control' }}) }}
                        </div>
                        <div class="form-group">
                            <label for="">Telepone</label>
                            {{ form_widget(form.telephone, {'attr': {'class': 'form-control' }}) }}
                        </div>
                        <div class="form-group">
                            <label for="">Adresse</label>
                            {{ form_widget(form.adresse, {'attr': {'class': 'form-control' }}) }}
                        </div>
                        <div class="form-check">
                            {{ form_widget(form.enabled, {'attr': {'class': 'form-check-input' }}) }}
                            <label for="">Active ?</label>

                        </div>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </div>

            </div>
            <!-- /.card -->
            {{ form_rest(form) }}

            {# Fermeture de la balise <form> du formulaire HTML #}
            {{ form_end(form) }}
        </div>


    </div>
{% endblock %}

{% block pagescripts %}
    <script src="{{ asset('assets/plugins/bs-custom-file-input/bs-custom-file-input.min.js') }}"></script>
    <!-- AdminLTE App -->
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {

            // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
            var $container = $('div#is_mainbundle_product_compositions');

            // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
            var index = $container.find(':input').length;

            // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
            $('#add_category').click(function(e) {
                addCategory($container);

                e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                return false;
            });

            // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
            if (index == 0) {
                addCategory($container);
            } else {
                // S'il existe déjà des catégories, on ajoute un lien de suppression pour chacune d'entre elles
                $container.children('div').each(function() {
                    addDeleteLink($(this));
                });
            }

            // La fonction qui ajoute un formulaire CategoryType
            function addCategory($container) {
                // Dans le contenu de l'attribut « data-prototype », on remplace :
                // - le texte "__name__label__" qu'il contient par le label du champ
                // - le texte "__name__" qu'il contient par le numéro du champ
                var template = $container.attr('data-prototype')
                    .replace(/__name__label__/g, 'Composition n°' + (index+1))
                    .replace(/__name__/g,        index)
                ;

                // On crée un objet jquery qui contient ce template
                var $prototype = $(template);

                // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
                addDeleteLink($prototype);

                // On ajoute le prototype modifié à la fin de la balise <div>
                $container.append($prototype);

                // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
                index++;
            }

            // La fonction qui ajoute un lien de suppression d'une catégorie
            function addDeleteLink($prototype) {
                // Création du lien
                var $deleteLink = $('<a href="#" class="btn btn-danger ">Supprimer</a><br>');

                // Ajout du lien
                $prototype.append($deleteLink);

                // Ajout du listener sur le clic du lien pour effectivement supprimer la catégorie
                $deleteLink.click(function(e) {
                    $prototype.remove();

                    e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                    return false;
                });
            }
        });
    </script>
{% endblock %}